set_io --warn-no-port leds[4] 95
set_io --warn-no-port leds[3] 96
set_io --warn-no-port leds[2] 97
set_io --warn-no-port leds[1] 98
set_io --warn-no-port leds[0] 99

set_io --warn-no-port clk 21
set_io --warn-no-port dram_debug[0] 44
set_io --warn-no-port dram_debug[1] 45
set_io --warn-no-port dram_debug[2] 47
set_io --warn-no-port dram_debug[3] 48
set_io --warn-no-port dram_debug[4] 56

set_io --warn-no-port rx   9
set_io --warn-no-port tx   8

set_io --warn-no-port dram_dq[0] 114
set_io --warn-no-port dram_dq[1] 118
set_io --warn-no-port dram_dq[2] 90
set_io --warn-no-port dram_dq[3] 79
set_io --warn-no-port dram_dq[4] 88
set_io --warn-no-port dram_dq[5] 116
set_io --warn-no-port dram_dq[6] 117
set_io --warn-no-port dram_dq[7] 115
set_io --warn-no-port dram_rwds 80
set_io --warn-no-port dram_ck 119
set_io --warn-no-port dram_rst_l 81
set_io --warn-no-port dram_cs_l 91

